.loader__container {
    display: flex;
    animation: test 2s both;
    background-color: white;
    opacity: 1;
    position: fixed;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    z-index: 9;
}

.spiner {
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border: 3px solid magenta;
    border-top: 3px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}


@keyframes test {
    100% {
        display: none;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}