footer {
    padding: 0% 0% 4% 2%;
    display: flex;
    flex-direction: column;
    background: $color-dark_grey;
    color: $color-white;
    h3 {
        font-family: Shrikhand;
        font-size: 18px;
        font-weight: 400;
    }
    a {
        margin-top: 1%;
        font-family: Roboto;
        font-weight: 500;
        font-size: 16px;
    }
}