.restaurant__page .main {
    background: $color-background;
} 

.return__button {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 17px;
    left: 17px;
}

.head__prestation {
    &__images {
        object-fit: cover;
        height: 70%;
    }
}

.menu__restaurant {
    border-radius: 40px 40px 0 0;
    background: #F6F6F6;
    transform: translateY(-40px);
    padding-top: 4%;
    display: flex;
    flex-direction: column;
}

.menu__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    animation: fade-in 0.5s forwards;

    &__text {
        font-size: 28px;
        font-weight: 400;
        font-family: Shrikhand;
        margin: 4% 6% 4% 4%;
    }

}

.menu__enter {
    position: relative;
    display: flex;
    flex-direction: column;


    &__title {
        font-size: 16px;
        font-weight: 300;
        margin-left: 2%;
        padding-bottom: 6px;
        border-bottom: 3px solid #99E2D0;
        max-width: 30px;

        animation: fade-in 1s forwards;
    }
    
    &__card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: white;
        box-shadow: 0px 4px 15px 0px #0000001A;
        margin: 2%;
        position: relative;
        border-radius: 15px;
        overflow: hidden;

        opacity: 0;
        animation: fade-in 1.5s forwards;
        
        &:nth-child(odd) { /* Pair */
            animation-delay: 0.4s;
        }
        
        &:nth-child(even) { /* Impair */
            animation-delay: 0.8s;
        }

        &__content {
            display: flex;
            transform: translateX(60px);

            &:hover {
                width: 80%;
            }
        }


        &__name {
            margin: 5px;
            font-weight: 500;
            font-size: 18px;
        }

        &__description {
            font-weight: 300;
            font-size: 15px;
            line-height: 18px;
            margin: 5px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &__price {
            font-weight: 700;
            font-size: 15px;
        }
        
        &__order {
            position: absolute;
            right: 0;
            height: 100%;
            width: 60px;
            border-radius: 0 15px 15px 0;
            background-color: $color-tertiary;
            color: $color-white;
            text-align: center;
        }
    }
}

.menu__enter__card__order {
    opacity: 0;
    transform: translateX(60px);
    transition: 0.5s ease-in-out;
}

.menu__enter__card:hover  .menu__enter__card__order {
    opacity: 1;
    transform: translateX(0);
}

.command {
    display: flex;
    justify-content: center;
    margin-bottom: 10%;
}

.command__button {
    margin-top: 4%;
    @include button;
}