@keyframes test {
    0% ,99% {
        z-index: 10;
        opacity: 1;
    }
    100% {
        display: none;
        opacity: 0;
        z-index: -10;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateX(-200px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes heart-like {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    
}

@keyframes heart-unlike {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}